<div class="form-group">
	<label>{{ 'Date task' | translate }}</label>
	<div class="input-group" >
	    <input type="text" name="F1" placeholder="{{ 'DateFrom' | translate }}" class="form-control date-input" id="F1" ng-model="after" maxlength="10" style="font-size: 12px;width: 45%;"/>
		<input type="text" name="F2" placeholder="{{ 'DateTo' | translate }}" class="form-control date-input" id="F2" ng-model="before" maxlength="10" style="font-size: 12px;width: 45%;margin-left: 10px;"/>
	</div>									
							
</div>