<!-- Modal -->
<div class="modal-header">
  <h3>Exportar reporte</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-6">
      <button type="button" name="button" class="btn" ng-click="xlsx()">
        <b>Excel</b>
        <img alt="" src="app/images/xls.gif" width="40px"/>
      </button>
    </div>
    <div class="col-lg-6">
      <button type="button" name="button" class="btn" ng-click="pdf()">
        <b>PDF</b>
        <img alt="" src="app/images/pdf.gif" width="24px"/>
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancel()">{{ 'CloseModalForm' | translate }}</button>
</div>
