         <!-- Navigation -->

 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
     <button type="button" class="navbar-toggle navbar-toggle-uno" data-toggle="collapse" data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
     </button>
	 <a class="brandlabelLogo" href="javascript:;" ng-click="vm.goMain();"><img class="img-thumbnail" src="app/images/banner/logo-process-sf.png" alt="" style="border: 0px none;background-color: transparent;"></a>

 </div>

</div>
