<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row-fluid">
        <header>
          <div class="row">
             <div class="col-lg-12">
                 <ol class="breadcrumb">
                   <li>
                       {{ 'Proces Console' | translate }}
                   </li>
                   <li>
                       {{ 'setting' | translate }}
                   </li>
                   <li class="active">
                         {{ 'Repository' | translate }}
                     </li>
                 </ol>
             </div>
            </div>
            <div class="row formularioinfobar" style="margin-bottom: 0px;">
              <div class="row navbar-inverse">
                <ul class="nav navbar-right top-nav-form" style="margin-right: 0px;">
                  <li>
                     <a href="javascript:;" id="guardar" name="guardar" ng-click="vm.modificarDatos(vm.repFisico,'RepFisico')" ><i class="fa fa-save"></i> {{ 'AccGuardar' | translate }}</a>
                  </li>
                </ul>
              </div>
            </div>
        </header>
        <main style="flex: 1 1 0%; overflow: auto;">
          <div class="row">
            <div class="row formularioContent">
              <div class="row">
                <div ng-repeat="field in vm.repFisico.item"  class="col-lg-6 col-md-6" style="padding: 0px 3px 0px 3px;">
                  <div>
                    <label class="formulariolabel">
                      {{field.descrip}} ({{field.id}})
                      <i ng-if="field.valorDef!=''" class="far fa-question-circle" data-toggle="tooltip" data-placement="right" data-original-title="{{field.valorDef}}" tooltips></i>
                    </label>
                  </div>
                  <input ng-if="(field.type == 'T' && !vm.stringToBoolean(field.lectura))" type="text"  id="{{field.id}}" name="{{field.id}}" class="form-control formularioControl"  ng-model="field.value"/>
                  <p class="well formularioControlRead"   ng-if="( field.type == 'T' &&  vm.stringToBoolean(field.lectura))" id="SPAN_{{field.id}}" name="SPAN_{{field.id}}" ng-bind-html="getHtml(field.value)"></p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
